<main>
    <h1>Hello world</h1>
    <h2 class="text-end">Hello world</h2>
    <h3>Hello world</h3>
    <hr>
    <div class="display-1 text-muted text-center">Hello world</div>
    <div class="display-2 text-uppercase">Hello world</div>
    <div class="display-3">Hello world</div>
    <hr>
    <span>додатковий текст</span>
    <hr>
    <a href="#" class="btn btn-primary">
        button
    </a>
    <hr>
    <p class="text-secondary">My text</p>
    <p class="text-muted">My text</p>

    <hr>
    <button class="btn btn-outline-primary btn-lg">My button</button>
    <button class="btn btn-outline-success">My button</button>
    <button class="btn btn-outline-danger btn-sm">My button</button>

    <hr>

    <div class="card">
        <div class="card-body text-danger">
            <button class="btn btn-outline-primary btn-lg">My button</button>
            <button class="btn btn-outline-success">My button</button>
            <button class="btn btn-outline-danger btn-sm">My button</button>
        </div>
    </div>
</main>