<main class="p-3">
    <h1>Hello world</h1>
    <h2 class="text-end">Hello world</h2>
    <h3>Hello world</h3>
    <hr>
    <div class="display-1 text-muted text-center">Hello world</div>
    <div class="display-2 text-uppercase">Hello world</div>
    <div class="display-3">Hello world</div>
    <hr>
    <span>додатковий текст</span>
    <hr>
    <button class="btn btn-info">
        <span class="text-danger">button</span>
    </button>
    <br>
    <br>
    <br>
    <div class="row g-4">
        <div class="col-12">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Main</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Catalog</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link disabled">Shop list</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="pt-3 px-3">
                    <div class="nav flex-column">
                        <div class="nav-item mb-3">
                            <div class="card">
                                <a href="/summary" class="nav-link">link</a>
                            </div>
                        </div>
                        <div class="nav-item mb-3">
                            <div class="card">
                                <a href="/skills" class="nav-link">link1</a>
                            </div>
                        </div>
                        <div class="nav-item mb-3">
                            <div class="card">
                                <a href="#" class="nav-link disabled">link2</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">PC та ноутбук</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Масboock</a>
                </li>
            </ol>
        </div>
        <br>
        <div class="col-12">
            <div class="btn btn-primary m-3">Click</div>
            <div class="alert alert-primary">
                <h5 class="mb-2">Hello world <span class="badge text-bg-secondary rounded-pill">NEW</span></h5>
                <p class="m-0">info!</p>
            </div>
        </div>
    </div>

<<<<<<< HEAD
    <h1><i class="bi bi-fuel-pump-diesel"></i></h1>

    <i class="bi bi-lamp-fill"></i>

    <h1><i class="fa-brands fa-figma fa-beat" style="color: #0dc955;"></i></h1>

    <div>
        <img src="/svg/computer.svg">
=======
    <div class="row g-5">
        <div class="col-12">
            <div>
                <label class="form-label">Email address</label>
                <div class="row">
                    <div class="col-2">
                        <input class="form-control" type="color">
                    </div>
                    <div class="col-2">
                        <input class="form-control" type="color">
                    </div>
                    <div class="col-2">
                        <input class="form-control" type="color">
                    </div>
                </div>
                <div class="form-text text-danger">Error! You need to set correct emeil</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-3 me-0"><label class="form-label">Email address</label></div>
                <div class="col-6"><input type="color" class="form-control form-control-sm"></div>
                <div class="col-3 form-text text-danger">Error! You need to set correct emeil</div>
            </div>
        </div>

        <div class="col-6">
            <label class="form-label">Виберіть зі списка</label>
            <select class="form-select form-select-lg">
                <option selected>menu</option>
                <option value="1">вибір 2</option>
                <option value="2">вибір 3</option>
            </select>
            <div class="col-3 form-text text-danger">Error! You need to set correct emeil</div>
        </div>

        <hr>

        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Так</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox">
                <label class="form-check-label">Ні</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-check">
                <label class="form-check-label">Так</label>
                <input name="choose" class="form-check-input" type="radio">              
            </div>
            <div class="form-check">
                <label class="form-check-label">Ні</label>
                <input name="choose" class="form-check-input" type="radio">
            </div>
        </div>

        <div class="col-12">
            <div class="form-check form-switch">
                <label class="form-check-label">Get bonus</label>
                <input name="choose" class="form-check-input" type="checkbox">              
            </div>
            
        </div>
>>>>>>> e1c5e3fd9e9c4d788d6eefba7f57915fb25e8664
    </div>
</main>