<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{{> link text="Summary" href="/summary" }}</li>
    <li class="breadcrumb-item">{{> link text="Skills" href="/skills" }}</li>
    <li class="breadcrumb-item">{{> link text="Education" href="/education" }}</li>
    <li class="breadcrumb-item">{{> link text="Work" href="/work" }}</li>
    <li class="breadcrumb-item">{{> link text="Person" href="/person" }}</li>
    <li class="breadcrumb-item">{{> link text="Bio" href="/bio" }}</li>
    <li class="breadcrumb-item">{{> link text="Program" href="/program" }}</li>
    <li class="breadcrumb-item">{{> link text="Web" href="/web" }}</li>
    <li class="breadcrumb-item">{{> link text="Js" href="/js" }}</li>
    <li class="breadcrumb-item">{{> link text="Mac" href="/mac" }}</li>
    <li class="breadcrumb-item">{{> link text="Facebook" href="/facebook" }}</li> 
  </ol>
</nav>
