<div class="card mt-5">
    <div class="nav">
        {{#each navigation.links}}
        <div class="nav-item">
            <a href="{{href}}" class="nav-link {{#unless href}}disabled{{/unless}}">{{text}}</a>
        </div>
        {{/each}}
        {{#if disabl}}
        <div class="nav-item">
            <a href="{{href}}" class="nav-link disabled">Disabled</a>
        </div>
        {{/if}}
    </div>
</div>