<div>
    <ul class="list-group list-group-horizontal list-group-item-success">
        <li class="list-group-item list-group-item-danger">id: {{id}}</li>
        <li class="list-group-item">name: {{name}}</li>
        <li class="list-group-item">gender: {{gender}}</li>
        <li class="list-group-item">age: {{age}}</li>
    </ul>
</div>